@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Navbar Styles */
.navbar {
    background: #333;
    color: white;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1 {
    font-family: "Noto Serif", serif;
    font-size: 34px;
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}

button:hover {
    background: #252525;
}

#recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Adjust to display 3 recipes per row */
}

.recipe img {
    max-width: 100%;
    border-radius: 5px;
}

.recipe h3 {
    margin-top: 2px;
}

.recipe p {
    margin: 5px 0;
}

.recipe button {
    background: red;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.recipe button:hover {
    background: darkred;
}
